
frontend/.vscode/settings.json
frontend/pubspec.lock
.vscode/settings.json
frontend/.vscode/settings.json
frontend/flutter/
frontend/linux/flutter/generated_plugin_registrant.cc
frontend/linux/flutter/generated_plugin_registrant.h
frontend/linux/flutter/generated_plugins.cmake
frontend/macos/Flutter/GeneratedPluginRegistrant.swift
frontend/pubspec.lock
frontend/pubspec.yaml
frontend/windows/flutter/generated_plugin_registrant.cc
frontend/windows/flutter/generated_plugin_registrant.h
frontend/windows/flutter/generated_plugins.cmake
BackEnd/gradle
BackEnd/src/main/resources
